<footer>
    <div class="bg-dark text-light">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-sm-6 p-3 text-center">
                    &copy; Copyright 2022-{% now "Y" %} Wadifati. All rights reserved.
                </div>
                <div class="col-sm-6 p-3 text-center">
                    <a class="icon mx-1 h4" target="_blank" href="https://twitter.com/AimaneCouissi"><i class="bi bi-twitter"></i></a>
                    <a class="icon mx-1 h4" target="_blank" href="https://www.instagram.com/aimanecouissi/"><i class="bi bi-instagram"></i></a>
                    <a class="icon mx-1 h4" target="_blank" href="https://www.facebook.com/CouissiAimane/"><i class="bi bi-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>